swagger: "2.0"
info:
  version: 2.4.0
  title: Koverse REST API
  description: >
        Specification for interacting with the Koverse Rest API


host: demo.koverse.com

consumes:
  - application/json
produces:
  - application/json

tags:
  - name: Authentication
    description: Manage User Authentication
  - name: Data Sets
    description: Manage Data Sets
  - name: Import Flows
    description: Manage Import Flows
  - name: Indexing
    description: Manage Indexing
  - name: Jobs
    description: Manage Jobs
  - name: Masking
    description: Manage Column Masking
  - name: Normalizations
    description: Manage Normalizations
  - name: Permissions
    description: Manage Permissions
  - name: Query
    description: Query Data Sets
  - name: Records
    description: Manage Records
  - name: Schedules
    description: Manage Schedules for Sinks, Transforms, and Import Flows
  - name: Sinks
    description: Manage Sinks
  - name: Sources
    description: Manage Sources
  - name: System
    description: System Information
  - name: Transforms
    description: Manage Transforms

definitions:
  dataSet:
    $ref: schemas/dataSet.yaml
  dataSetAttributes:
    $ref: schemas/dataSetAttributes.yaml
  dataSetAttributeUpdateList:
    $ref: schemas/dataSetAttributeUpdateList.yaml
  dataSetIndexingPolicy:
    $ref: schemas/dataSetIndexingPolicy.yaml
  dataSetJob:
    $ref: schemas/dataSetJob.yaml
  dataSetMetadata:
    $ref: schemas/dataSetMetadata.yaml
  dataSetPermission:
    $ref: schemas/dataSetPermission.yaml
  dataSetResult:
    $ref: schemas/dataSetResult.yaml
  dataSetSchemas:
    $ref: schemas/dataSetSchemas.yaml
  exportSchedule:
    $ref: schemas/exportSchedule.yaml
  fieldTypePair:
    $ref: schemas/fieldTypePair.yaml
  importFlow:
    $ref: schemas/importFlow.yaml
  importSchedule:
    $ref: schemas/importSchedule.yaml
  job:
    $ref: schemas/job.yaml
  login:
    $ref: schemas/login.yaml
  logout:
    $ref: schemas/logout.yaml
  normalization:
    $ref: schemas/normalization.yaml
  normalizationType:
    $ref: schemas/normalizationType.yaml
  parameter:
    $ref: schemas/parameter.yaml
  record:
    $ref: schemas/record.yaml
  sink:
    $ref: schemas/sink.yaml
  sinkType:
    $ref: schemas/sinkType.yaml
  sinkTypeDescription:
    $ref: schemas/sinkTypeDescription.yaml
  sinkTransformConfiguration:
    $ref: schemas/sinkTransformConfiguration.yaml
  source:
    $ref: schemas/source.yaml
  sourceInstance:
    $ref: schemas/sourceInstance.yaml
  sourceTypeDescription:
    $ref: schemas/sourceTypeDescription.yaml
  success:
    $ref: schemas/success.yaml
  transform:
    $ref: schemas/transform.yaml
  transformSchedule:
    $ref: schemas/transformSchedule.yaml
  transformType:
    $ref: schemas/transformType.yaml
  #searchAutocomplete:
  #  $ref: schemas/searchAutocomplete.yaml
  user:
    $ref: schemas/user.yaml
  visualizationType:
    $ref: schemas/visualizationType.yaml

parameters:
  dataSet:
    name: dataSet
    in: body
    description: Dataset attributes
    required: true
    schema:
      $ref: schemas/dataSet.yaml
  dataSetAttributeUpdateList:
    name: dataSetAttributeUpdateList
    in: body
    description: Attribute update list for masking attributes
    required: true
    schema:
      $ref: schemas/dataSetAttributeUpdateList.yaml
  dataSetId:
    name: dataSetId
    in: path
    description: ID of the data set
    required: true
    type: string
  dataSetMetadata:
    name: dataSetMetadata
    in: body
    description: Metadata of a dataset
    required: true
    type: object
    schema:
      $ref: schemas/dataSetMetadata.yaml
  exportJobId:
    name: exportJobId
    in: path
    description: ID of the export job
    required: true
    type: string
  exportScheduleId:
    name: exportScheduleId
    in: path
    description: ID of an export schedule
    required: true
    type: string
  fileType:
    name: fileType
    in: path
    description: fileType to download
    required: false
    type: string
    enum: [json, csv]
  importFlowId:
    name: importFlowId
    in: query
    description: ID of the import flow
    required: true
    type: string
  importJobId:
    name: importJobId
    in: path
    description: ID of the import job
    type: integer
    format: int64
  importScheduleId:
    name: importScheduleId
    in: path
    description: ID of the import schedule
    required: true
    type: string
  jobId:
    name: jobId
    in: path
    description: ID of the job
    required: true
    type: string
  normalizationId:
    name: normalizationId
    in: path
    description: ID of the normalization
    required: true
    type: string
  objectQuery:
    name: query
    in: body
    required: true
    schema:
      $ref: schemas/objectQuery.yaml
  objectQueryNames:
    name: query
    in: body
    required: true
    schema:
      $ref: schemas/objectQueryNames.yaml
  permissionId:
    name: permissionId
    in: path
    description: ID of the permission
    required: true
    type: string
  recordId:
    name: recordId
    in: query
    description: ID of the record
    required: true
    type: string
  recordStyle:
    name: recordStyle
    in: query
    description: >
          Requests a more efficient representation of records
    required: false
    type: string
    enum: [2.2]
  sink:
    name: sink
    in: body
    required: true
    schema:
      $ref: "schemas/sink.yaml"
  sinkId:
    name: sinkId
    in: path
    description: ID of the sink
    required: true
  sinkTypeId:
    name: sinkTypeId
    in: path
    description: ID of the sink type
    required: true
    type: integer
    format: int64
  sourceId:
    name: sourceId
    in: path
    description: ID of the source
    required: true
    type: string
  sourceInstanceId:
    name: sourceInstanceId
    in: path
    description: ID of the source
    required: true
    type: string
  transformId:
    name: transformId
    in: path
    description: ID of a transform
    type: integer
    format: int64
  transformJobId:
    name: transformJobId
    in: path
    description: ID of the transform job
    type: integer
    format: int64
  transformScheduleId:
    name: transformScheduleId
    in: path
    description: ID of the transform schedule
    type: integer
    format: int64

paths:
  /api/dataSets:
    $ref: paths/dataSets.yaml
  /api/dataSets/{dataSetId}:
    $ref: paths/dataSetId.yaml
  /api/dataSets/{dataSetId}/attributeNames:
    $ref: paths/dataSetAttributeNames.yaml
  /api/dataSets/{dataSetId}/attributes:
    $ref: paths/dataSetAttributes.yaml
  /api/dataSets/{dataSetId}/clearDataSet:
    $ref: paths/dataSetClearDataSet.yaml
  /api/dataSets/{dataSetId}/flatSchema:
    $ref: paths/dataSetFlatSchema.yaml
  /api/dataSets/{dataSetId}/indexingPolicy:
    $ref: paths/dataSetIndexingPolicies.yaml
  /api/dataSets/{dataSetId}/permissions:
    $ref: paths/dataSetPermissions.yaml
  /api/dataSets/{dataSetId}/permissions/{permissionId}:
    $ref: paths/datasetPermissionId.yaml
  /api/dataSets/{dataSetId}/jobs:
    $ref: paths/dataSetJobs.yaml
  /api/dataSets/{dataSetId}/records:
    $ref: paths/dataSetRecords.yaml
  /api/dataSets/{dataSetId}/schema:
    $ref: paths/dataSetSchema.yaml
  /api/dataSets/{dataSetId}/repair:
    $ref: paths/dataSetRepair.yaml
  /api/dataSets/{dataSetId}/attributes/masking:
    $ref: paths/dataSetAttributesMasking.yaml

  /api/importFlows:
    $ref: paths/importFlows.yaml
  /api/importFlows/{importFlowId}:
    $ref: paths/importFlowId.yaml
  /api/importFlows/{importFlowId}/execute:
    $ref: paths/importFlowExecute.yaml
  /api/importFlows/{importFlowId}/normalizations:
    $ref: paths/importFlowNormalizations.yaml
  /api/importFlows/{importFlowId}/normalizations/{normalizationId}:
    $ref: paths/importFlowNormalizationsId.yaml
  /api/importFlows/{importFlowId}/schedules:
    $ref: paths/importFlowSchedules.yaml
  /api/importFlows/source/{sourceId}:
    $ref: paths/importFlowSourceId.yaml
  /api/importJobs/{importJobId}/shutdown:
    $ref: paths/importJobsShutdown.yaml
  /api/importSchedules:
    $ref: paths/importSchedules.yaml
  /api/importSchedules/{importScheduleId}:
    $ref: paths/importScheduleId.yaml
  /api/jobs:
    $ref: paths/jobs.yaml
  /api/jobs/{jobId}/shutdown:
    $ref: paths/jobsIdShutdown.yaml
  /api/jobs/{jobId}/unblock:
    $ref: paths/jobsIdUnblock.yaml
  /api/normalizationTypes:
    $ref: paths/normalizationTypes.yaml
  /api/permissions/dataset:
    $ref: paths/permissionsDataSet.yaml
  /api/permissions/system:
    $ref: paths/permissionsSystem.yaml
  /api/records:
    $ref: paths/records.yaml
  /api/sinks:
    $ref: paths/sinks.yaml
  /api/sinks/{sinkId}:
    $ref: paths/sinkId.yaml
  /api/sink/{sinkId}/runExport:
    $ref: paths/sinkRunExport.yaml
  /api/sinkSchedules:
    $ref: paths/sinkSchedules.yaml
  /api/sinkSchedules/{exportScheduleId}:
    $ref: paths/sinkScheduleId.yaml
  /api/sinkTypes:
    $ref: paths/sinkTypes.yaml
  /api/sinkTypes/{sinkTypeId}:
    $ref: paths/sinkTypeId.yaml
  /api/exportJobs/{exportJobId}/shutdown:
    $ref: paths/exportJobsShutdown.yaml
  /api/sourceInstances:
    $ref: paths/sourceInstances.yaml
  /api/sourceInstances/{sourceInstanceId}:
    $ref: paths/sourceInstanceId.yaml
  /api/sourceTypeDescriptions:
    $ref: paths/sourceTypeDescriptions.yaml
  /api/transformJobs/{transformJobId}/shutdown:
    $ref: paths/transformJobsShutdown.yaml
  /api/transforms:
    $ref: paths/transforms.yaml
  /api/transforms/{transformId}:
    $ref: paths/transformId.yaml
  /api/transforms/{transformId}/runTransform:
    $ref: paths/transformIdRunTransform.yaml
  /api/transforms/{transformId}/transformSchedules:
    $ref: paths/transformIdSchedules.yaml
  /api/transforms/{transformId}/transformSchedules/{transformScheduleId:
    $ref: paths/transformIdScheduleId.yaml
  /api/transformTypes:
    $ref: paths/transformTypes.yaml
  /api/transformTypes/{typeId:
    $ref: paths/transformTypeId.yaml

# this may not belong in a web app API

#  /api/dataSets/{dataSetId}/download/{fileType}:
#    $ref: paths/dataSetDownload.yaml
#  /api/dataSets/{dataSetId}/records:
#    $ref: paths/records.yaml
  /api/login:
    $ref: paths/login.yaml
  /api/logout:
    $ref: paths/logout.yaml
  /api/query/:
    $ref: paths/queryLucene.yaml
  /api/query/object:
    $ref: paths/queryObject.yaml
  /api/query/object/names:
    $ref: paths/queryObjectNames.yaml
  #/api/search/autocomplete:
  #  $ref: paths/searchAutocomplete.yaml
