{
  "swagger": "2.0",
  "info": {
    "version": "2.9.0",
    "title": "Koverse REST API",
    "description": "Specification for interacting with the Koverse Rest API\n"
  },
  "host": "demo.koverse.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Manage User Authentication"
    },
    {
      "name": "Data Sets",
      "description": "Manage Data Sets"
    },
    {
      "name": "Import Flows",
      "description": "Manage Import Flows"
    },
    {
      "name": "Indexing",
      "description": "Manage Indexing"
    },
    {
      "name": "Jobs",
      "description": "Manage Jobs"
    },
    {
      "name": "Masking",
      "description": "Manage Column Masking"
    },
    {
      "name": "Normalizations",
      "description": "Manage Normalizations"
    },
    {
      "name": "Permissions",
      "description": "Manage Permissions"
    },
    {
      "name": "Query",
      "description": "Query Data Sets"
    },
    {
      "name": "Records",
      "description": "Manage Records"
    },
    {
      "name": "Schedules",
      "description": "Manage Schedules for Sinks, Transforms, and Import Flows"
    },
    {
      "name": "Sinks",
      "description": "Manage Sinks"
    },
    {
      "name": "Sources",
      "description": "Manage Sources"
    },
    {
      "name": "System",
      "description": "System Information"
    },
    {
      "name": "Transforms",
      "description": "Manage Transforms"
    }
  ],
  "definitions": {
    "dataSet": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "minLength": 4,
          "pattern": "^[a-zA-Z0-9- ]+$",
          "example": "Movies"
        },
        "description": {
          "type": "string",
          "example": "List of Movies"
        },
        "importFlowIds": {
          "type": "array",
          "items": {
            "type": "integer"
          },
          "example": [
            338
          ]
        },
        "createdTimestamp": {
          "type": "integer"
        },
        "updatedTimestamp": {
          "type": "integer"
        }
      }
    },
    "dataSetAttributes": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": "actor_1_name"
        },
        "dataSetId": {
          "type": "string",
          "example": "movies_20171107_172745_048"
        },
        "name": {
          "type": "string",
          "example": "actor_1_name"
        },
        "presenceCount": {
          "type": "integer",
          "example": 4155
        },
        "uniqueValueCount": {
          "type": "integer",
          "example": 3982
        },
        "valueCount": {
          "type": "integer",
          "example": 4155
        },
        "visualizationType": {
          "type": "string",
          "enum": [
            "line",
            "bar",
            "pie",
            "chloropleth-countries",
            "heatmap",
            "list",
            "single-value"
          ]
        },
        "types": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              },
              "prevalence": {
                "type": "number"
              }
            }
          }
        },
        "values": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "occurrences": {
                "type": "integer"
              },
              "value": {
                "type": "string"
              },
              "coordinates": {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number"
                  },
                  "long": {
                    "type": "number"
                  }
                }
              },
              "countryId": {
                "type": "string"
              },
              "opacity": {
                "type": "integer"
              }
            }
          }
        },
        "indexed": {
          "type": "boolean"
        },
        "masked": {
          "type": "boolean"
        },
        "maskers": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "dataSetAttributeUpdateList": {
      "type": "object",
      "required": [
        "attrs"
      ],
      "properties": {
        "attrs": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "indexed": {
                "type": "boolean"
              },
              "maskers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "descriptionId": {
                      "type": "string"
                    },
                    "exceptedGroupIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "setting": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "dataSetIndexingPolicy": {
      "type": "object",
      "required": [
        "id",
        "dataSetId",
        "fieldsInclusive",
        "fields",
        "compositeIndexes",
        "createValueOnlyIndices"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "dataSetId": {
          "type": "string",
          "example": "movies_20171107_172745_048"
        },
        "fieldsInclusive": {
          "type": "boolean",
          "description": "If true, specifies the fields to include. If false, specifies the fields to exclude",
          "example": true
        },
        "fields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The field names to either include or exclude",
          "example": [
            "actor_1_name"
          ]
        },
        "compositeIndexes": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "fieldName",
                "fieldType"
              ],
              "properties": {
                "fieldName": {
                  "type": "string"
                },
                "fieldType": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "createValueOnlyIndices": {
          "type": "boolean",
          "example": true
        }
      }
    },
    "dataSetJob": {
      "type": "object",
      "required": [
        "id",
        "dataSetId"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "dataSetId": {
          "type": "string"
        },
        "createdAt": {
          "type": "integer"
        },
        "startedAt": {
          "type": "integer"
        },
        "endedAt": {
          "type": "integer"
        },
        "error": {
          "type": "string"
        },
        "origin": {
          "type": "string"
        },
        "progress": {
          "type": "number"
        },
        "type": {
          "type": "string"
        }
      },
      "example": {
        "id": 720,
        "userId": 4,
        "creationDate": 1537394536892,
        "startedDate": 1537394546221,
        "endedDate": 1537394584108,
        "status": "success",
        "errorDetail": null,
        "statusMessage": null,
        "userAcknowledged": false,
        "origin": "UNSPECIFIED",
        "overrideBlockedStatus": false,
        "progress": 1,
        "type": "REINDEXING",
        "dataSetId": "movie_metadata_clean_20180817_180504_927",
        "errors": [],
        "outputDataSetId": null,
        "inputDataSetIds": null,
        "recordCount": 0
      }
    },
    "dataSetMetadata": {
      "type": "object",
      "description": "This object contains all the metadata associated with a data set.\n",
      "required": [
        "name"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "minLength": 4,
          "pattern": "^[a-zA-Z0-9- ]+$"
        },
        "description": {
          "type": "string",
          "description": "A user-readable description of the data set."
        },
        "deleted": {
          "type": "boolean"
        },
        "groupPermissionsIds": {
          "type": "array"
        },
        "indexingPolicyId": {
          "type": "integer"
        },
        "indexingPolicy": {
          "type": "string"
        },
        "tags": {
          "type": "string"
        },
        "userId": {
          "type": "integer"
        },
        "useId": {
          "type": "integer",
          "description": "The user ID of the creator of this data set."
        },
        "createdTimestamp": {
          "type": "integer",
          "description": "Timestamp of when the data set was created."
        },
        "updatedTimestamp": {
          "type": "integer",
          "description": "Timestamp of the last time records were added."
        },
        "recordCountLastUpdate": {
          "type": "integer",
          "description": "Timestamp of the last time records were added."
        },
        "recordCount": {
          "type": "integer"
        },
        "sizeBytes": {
          "type": "integer"
        },
        "disableFieldStats": {
          "type": "boolean"
        },
        "disableSampling": {
          "type": "boolean"
        },
        "status": {
          "type": "string"
        },
        "hadoopDeleteJobIds": {
          "type": "array"
        },
        "dataStoreAuthRemoved": {
          "type": "boolean"
        },
        "version": {
          "type": "integer"
        },
        "importFlowId": {
          "type": "string"
        },
        "importFlowIds": {
          "type": "array",
          "items": {
            "type": "integer"
          },
          "description": "A list of IDs of import flows writing data to this data set."
        },
        "ageOffEnabled": {
          "type": "boolean"
        },
        "ageOffIndexDays": {
          "type": "integer"
        },
        "fieldStatsMinimumExecutionPeriod": {
          "type": "integer"
        },
        "samplingMinimumExecutionPeriod": {
          "type": "integer"
        },
        "aggregationMinimumExecutionPeriod": {
          "type": "integer"
        },
        "schemaMinimumExecutionPeriod": {
          "type": "integer"
        },
        "indexMinimumExecutionPeriod": {
          "type": "integer"
        }
      },
      "example": {
        "id": "movies_20171107_172745_048",
        "name": "Movies",
        "description": "List of Movies",
        "userId": 4,
        "createdTimestamp": 1510093665050,
        "updatedTimestamp": 1510093711178,
        "recordCountLastUpdated": 1510106324522,
        "recordCount": 4159,
        "importFlowIds": [
          338
        ]
      }
    },
    "dataSetPermission": {
      "type": "object",
      "required": [
        "groupId",
        "dataSetId"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "groupId": {
          "type": "string"
        },
        "dataSetId": {
          "type": "string"
        },
        "all": {
          "type": "boolean"
        },
        "read": {
          "type": "boolean"
        },
        "download": {
          "type": "boolean"
        },
        "write": {
          "type": "boolean"
        },
        "delete": {
          "type": "boolean"
        },
        "managePermissions": {
          "type": "boolean"
        },
        "manageConfiguration": {
          "type": "boolean"
        },
        "audit": {
          "type": "boolean"
        },
        "permissionsTypes": {
          "type": "array"
        }
      },
      "example": {
        "id": 844,
        "dataSetId": "movies_20171107_172745_048",
        "groupId": 1,
        "all": false,
        "read": false,
        "download": false,
        "write": false,
        "delete": false,
        "managePermissions": false,
        "manageConfiguration": false,
        "audit": false,
        "authorizerTypeId": null,
        "authorizerGroupId": null,
        "permissionsTypes": []
      }
    },
    "dataSetResult": {
      "type": "object",
      "description": "This object contains all the records matching a query against a single data set.\n",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "attributeMatchCount": {
          "type": "integer",
          "format": "int64",
          "description": "Not used"
        },
        "recordMatchCount": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of records matching this query. It's possible for there to be more results than can be retreived in one call. In this case, more results can be fetched with subsequent calls that use the recordOffset parameter to get subsequent pages of results.\n"
        },
        "recordCount": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of records in this data set.\n"
        },
        "createdTimestamp": {
          "type": "integer",
          "format": "int64"
        },
        "updatedTimestamp": {
          "type": "integer",
          "format": "int64"
        },
        "flatSchema": {
          "type": "boolean",
          "description": "Whether records in this result set contain no nested values like arrays or maps\n"
        },
        "recordMatchCountLimited": {
          "type": "boolean",
          "description": "The backend only counts record matches up to 5000. If there are more results than this recordMatchCountLimited is true.\n"
        },
        "records": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "recordId": {
                "type": "string"
              },
              "collectionId": {
                "type": "string"
              },
              "securityLabel": {
                "type": "string"
              },
              "value": {
                "type": "object",
                "description": "An object containing the fields and values within this record. The structure of this object will vary from data set to data set. Here we include 'fieldOne', 'fieldTwo', etc. just as an example.\n"
              }
            },
            "example": {
              "recordId": null,
              "collectionId": "movies_20171107_172745_048",
              "securityLabel": "",
              "value": {
                "plot_keywords": "african american|code|dog|pigeon|samurai",
                "country": "France",
                "aspect_ratio": 1.85,
                "actor_3_facebook_likes": 116,
                "num_critic_for_reviews": 167,
                "color": "Color",
                "language": "English",
                "title_year": 1999,
                "imdb_score": 7.5,
                "duration": 116,
                "genres": "Action|Crime|Drama|Thriller",
                "actor_1_name": "Henry Silva",
                "director_facebook_likes": 0,
                "content_rating": "R",
                "num_voted_users": 70084,
                "gross": 3300230,
                "facenumber_in_poster": 1,
                "actor_2_name": "Gano Grills",
                "num_user_for_reviews": 346,
                "actor_1_facebook_likes": 251,
                "movie_title": "Ghost Dog - The Way of the Samurai",
                "movie_facebook_likes": 0,
                "actor_2_facebook_likes": 147,
                "movie_imdb_link": "http://www.imdb.com/title/tt0165798/?ref_=fn_tt_tt_1",
                "director_name": "Jim Jarmusch",
                "cast_total_facebook_likes": 675,
                "actor_3_name": "Richard Portnow"
              },
              "matchValues": null,
              "isMatch": false
            }
          }
        },
        "successful": {
          "type": "boolean"
        },
        "errorMessage": {
          "type": "string"
        }
      },
      "example": {
        "id": "movies_20171107_172745_048",
        "name": "movies",
        "attributeMatchCount": 0,
        "recordMatchCount": 20,
        "recordCount": 4159,
        "createdTimestamp": 1510093665050,
        "updatedTimestamp": 0,
        "flatSchema": true,
        "recordMatchCountLimited": false,
        "records": [
          {
            "recordId": null,
            "collectionId": "movies_20171107_172745_048",
            "securityLabel": "",
            "value": {
              "plot_keywords": "african american|code|dog|pigeon|samurai",
              "country": "France",
              "aspect_ratio": 1.85,
              "actor_3_facebook_likes": 116,
              "num_critic_for_reviews": 167,
              "color": "Color",
              "language": "English",
              "title_year": 1999,
              "imdb_score": 7.5,
              "duration": 116,
              "genres": "Action|Crime|Drama|Thriller",
              "actor_1_name": "Henry Silva",
              "director_facebook_likes": 0,
              "content_rating": "R",
              "num_voted_users": 70084,
              "gross": 3300230,
              "facenumber_in_poster": 1,
              "actor_2_name": "Gano Grills",
              "num_user_for_reviews": 346,
              "actor_1_facebook_likes": 251,
              "movie_title": "Ghost Dog - The Way of the Samurai",
              "movie_facebook_likes": 0,
              "actor_2_facebook_likes": 147,
              "movie_imdb_link": "http://www.imdb.com/title/tt0165798/?ref_=fn_tt_tt_1",
              "director_name": "Jim Jarmusch",
              "cast_total_facebook_likes": 675,
              "actor_3_name": "Richard Portnow"
            },
            "matchValues": null,
            "isMatch": false
          }
        ],
        "successful": true,
        "errorMessage": ""
      }
    },
    "dataSetSchemas": {
      "type": "object",
      "description": "Array of metadata of the schema of a dataset.\n",
      "required": [
        "type",
        "fieldTypeCounts"
      ],
      "properties": {
        "type": {
          "type": "string",
          "example": "SCALAR"
        },
        "fieldTypeCounts": {
          "type": "array"
        },
        "fieldValueType": {
          "type": "string",
          "example": "DATE"
        }
      }
    },
    "exportSchedule": {
      "type": "object",
      "properties": {
        "sinkId": {
          "type": "integer",
          "format": "int64"
        },
        "sinkDisplayName": {
          "type": "string"
        }
      }
    },
    "fieldTypePair": {
      "type": "object",
      "required": [
        "fieldName",
        "fieldType"
      ],
      "properties": {
        "fieldName": {
          "type": "string"
        },
        "fieldType": {
          "type": "boolean"
        }
      }
    },
    "importFlow": {
      "type": "object",
      "required": [
        "sourceInstanceId"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "sourceInstanceId": {
          "type": "integer",
          "format": "int64"
        },
        "dataSetId": {
          "type": "string"
        },
        "disabled": {
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "enum": [
            "manual",
            "continuous",
            "periodic"
          ]
        },
        "updatedAt": {
          "type": "string",
          "format": "dateTime"
        },
        "executedAt": {
          "type": "string",
          "format": "dateTime"
        },
        "executionCount": {
          "type": "integer"
        },
        "normalizations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "config": {
                "type": "object"
              },
              "typeId": {
                "type": "string"
              }
            }
          }
        },
        "configurationOptions": {
          "type": "object"
        }
      },
      "example": {
        "id": 50596,
        "responsibleUserId": 1,
        "disabled": false,
        "type": "manual",
        "creationDate": 1534541944533,
        "lastUpdatedDate": 1534541944533,
        "lastExecutionDate": 1534529105371,
        "disabledDate": null,
        "executionCount": 1,
        "normalizations": [],
        "schedules": [],
        "configurationOptions": {},
        "ingestState": {},
        "sourceInstanceId": 50594,
        "outputDataSetId": "movies_20171107_172745_048"
      }
    },
    "importSchedule": {
      "type": "object",
      "required": [
        "importFlowId",
        "repeatUnit",
        "repeatInterval",
        "endingType"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "importFlowId": {
          "type": "integer",
          "format": "int64"
        },
        "repeatInterval": {
          "type": "integer",
          "format": "int32"
        },
        "repeatUnit": {
          "type": "string",
          "enum": [
            "Hourly",
            "Daily",
            "Weekly",
            "Monthly"
          ]
        },
        "endingType": {
          "type": "string",
          "enum": [
            "Never",
            "Date",
            "Count"
          ]
        },
        "startDateTime": {
          "type": "string",
          "format": "dateTime"
        },
        "endDateTime": {
          "type": "string",
          "format": "dateTime"
        },
        "endAfter": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "job": {
      "type": "object",
      "required": [
        "id",
        "dataSetId"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": 67760
        },
        "userId": {
          "type": "integer",
          "example": 1
        },
        "dataSetId": {
          "type": "string",
          "example": "movies_20171107_172745_048"
        },
        "status": {
          "type": "string",
          "example": "running"
        },
        "creationDate": {
          "type": "integer",
          "example": 1539982556061
        },
        "startedDate": {
          "type": "integer",
          "example": 1539982559008
        },
        "endedAt": {
          "type": "integer",
          "example": 0
        },
        "error": {
          "type": "string"
        },
        "origin": {
          "type": "string",
          "example": "USER_REQUEST"
        },
        "progress": {
          "type": "number"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "login": {
      "type": "object",
      "description": "This object contains the parameters necessary to authenticate.\n",
      "required": [
        "email",
        "password"
      ],
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      },
      "example": {
        "email": "zerocool@example.com",
        "password": "supersecret"
      }
    },
    "logout": {
      "type": "boolean",
      "example": true,
      "description": "This indicates whether the logout was successful.\n"
    },
    "normalization": {
      "type": "object",
      "required": [
        "importFlowId",
        "typeId",
        "position",
        "enabled"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "importFlowId": {
          "type": "integer"
        },
        "typeId": {
          "type": "string"
        },
        "position": {
          "type": "integer"
        },
        "enabled": {
          "type": "boolean"
        },
        "config": {
          "type": "object"
        }
      }
    },
    "normalizationType": {
      "type": "object",
      "required": [
        "displayName",
        "typeId"
      ],
      "properties": {
        "typeId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "implementationClassName": {
          "type": "string"
        },
        "parameters": {
          "type": "array"
        }
      }
    },
    "parameter": {
      "type": "object",
      "required": [
        "displayName",
        "parameterName",
        "type",
        "required"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "displayName": {
          "type": "string"
        },
        "parameterName": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "string",
            "text",
            "boolean",
            "integer",
            "enum",
            "file",
            "inputCollection",
            "outputCollection",
            "securityLabelParser",
            "collectionField",
            "collectionMultipleField",
            "exportSingleOutput"
          ]
        },
        "enumerations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultValue": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "hint": {
          "type": "string"
        },
        "javascriptClassName": {
          "type": "string"
        },
        "addOnId": {
          "type": "integer",
          "format": "int64"
        },
        "parameterGroup": {
          "type": "string"
        }
      }
    },
    "record": {
      "type": "object",
      "properties": {
        "recordId": {
          "type": "string"
        },
        "collectionId": {
          "type": "string"
        },
        "securityLabel": {
          "type": "string"
        },
        "value": {
          "type": "object",
          "description": "An object containing the fields and values within this record. The structure of this object will vary from data set to data set. Here we include 'fieldOne', 'fieldTwo', etc. just as an example.\n"
        }
      },
      "example": {
        "recordId": null,
        "collectionId": "movies_20171107_172745_048",
        "securityLabel": "",
        "value": {
          "plot_keywords": "african american|code|dog|pigeon|samurai",
          "country": "France",
          "aspect_ratio": 1.85,
          "actor_3_facebook_likes": 116,
          "num_critic_for_reviews": 167,
          "color": "Color",
          "language": "English",
          "title_year": 1999,
          "imdb_score": 7.5,
          "duration": 116,
          "genres": "Action|Crime|Drama|Thriller",
          "actor_1_name": "Henry Silva",
          "director_facebook_likes": 0,
          "content_rating": "R",
          "num_voted_users": 70084,
          "gross": 3300230,
          "facenumber_in_poster": 1,
          "actor_2_name": "Gano Grills",
          "num_user_for_reviews": 346,
          "actor_1_facebook_likes": 251,
          "movie_title": "Ghost Dog - The Way of the Samurai",
          "movie_facebook_likes": 0,
          "actor_2_facebook_likes": 147,
          "movie_imdb_link": "http://www.imdb.com/title/tt0165798/?ref_=fn_tt_tt_1",
          "director_name": "Jim Jarmusch",
          "cast_total_facebook_likes": 675,
          "actor_3_name": "Richard Portnow"
        },
        "matchValues": null,
        "isMatch": false
      }
    },
    "sink": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "configurationOptions": {
          "type": "object"
        },
        "disabled": {
          "type": "boolean"
        },
        "sinkTypeId": {
          "type": "string"
        },
        "scheduleType": {
          "type": "string"
        },
        "responsibleUser": {
          "type": "object",
          "required": [
            "firstName",
            "lastName",
            "email"
          ],
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64"
            },
            "firstName": {
              "type": "string"
            },
            "lastName": {
              "type": "string"
            },
            "email": {
              "type": "string",
              "description": "username or email used to login"
            }
          },
          "example": {
            "id": 1,
            "firstName": "Dade",
            "lastName": "Murphy",
            "email": "zerocool@example.com"
          }
        },
        "transforms": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "typeId": {
                "type": "string"
              },
              "implementationClassName": {
                "type": "string"
              },
              "config": {
                "type": "object"
              }
            }
          }
        },
        "inputDataWindowType": {
          "type": "string"
        },
        "dataSetId": {
          "type": "string"
        }
      }
    },
    "sinkType": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "typeId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "array"
        }
      }
    },
    "sinkTypeDescription": {
      "type": "object",
      "required": [
        "name",
        "implementationClassName",
        "sinkTypeId",
        "sinkParameters",
        "disabled",
        "version"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "implementationClassName": {
          "type": "string"
        },
        "sinkTypeId": {
          "type": "string"
        },
        "sinkParameters": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "displayName",
              "parameterName",
              "type",
              "required"
            ],
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64"
              },
              "displayName": {
                "type": "string"
              },
              "parameterName": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "string",
                  "text",
                  "boolean",
                  "integer",
                  "enum",
                  "file",
                  "inputCollection",
                  "outputCollection",
                  "securityLabelParser",
                  "collectionField",
                  "collectionMultipleField",
                  "exportSingleOutput"
                ]
              },
              "enumerations": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "defaultValue": {
                "type": "string"
              },
              "required": {
                "type": "boolean"
              },
              "hint": {
                "type": "string"
              },
              "javascriptClassName": {
                "type": "string"
              },
              "addOnId": {
                "type": "integer",
                "format": "int64"
              },
              "parameterGroup": {
                "type": "string"
              }
            }
          }
        },
        "disabled": {
          "type": "boolean"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "sinkTransformConfiguration": {
      "type": "object",
      "properties": {
        "typeId": {
          "type": "string"
        },
        "implementationClassName": {
          "type": "string"
        },
        "config": {
          "type": "object"
        }
      }
    },
    "source": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "importFlowId": {
          "type": "string"
        },
        "sourceTypeId": {
          "type": "string"
        },
        "configurationOptions": {
          "type": "object"
        },
        "disabled": {
          "type": "boolean"
        },
        "isSchedulable": {
          "type": "boolean"
        },
        "clearOutputDataSet": {
          "type": "boolean"
        }
      }
    },
    "sourceInstance": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "importFlowId": {
          "type": "string"
        },
        "sourceTypeId": {
          "type": "string"
        },
        "configurationOptions": {
          "type": "object"
        },
        "disabled": {
          "type": "boolean"
        },
        "isSchedulable": {
          "type": "boolean"
        },
        "clearOutputDataSet": {
          "type": "boolean"
        }
      }
    },
    "sourceTypeDescription": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "implementationClassName": {
          "type": "string"
        },
        "sourceTypeId": {
          "type": "string"
        },
        "customParameterFromJavascriptPath": {
          "type": "string"
        },
        "parameters": {
          "type": "array"
        },
        "flowParameters": {
          "type": "array"
        },
        "disabled": {
          "type": "boolean"
        },
        "executionMethod": {
          "type": "string"
        },
        "addonId": {
          "type": "string"
        }
      }
    },
    "success": {
      "type": "object",
      "required": [
        "success"
      ],
      "properties": {
        "success": {
          "type": "boolean"
        },
        "successMessage": {
          "type": "string"
        }
      }
    },
    "transform": {
      "type": "object",
      "required": [
        "transformTypeId",
        "configurationOptions"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "configurationOptions": {
          "type": "object"
        },
        "transformTypeId": {
          "type": "string"
        },
        "scheduleType": {
          "type": "string"
        },
        "inputDataSetIds": {
          "type": "array"
        },
        "outputDataSetId": {
          "type": "string"
        },
        "replaceOutputData": {
          "type": "boolean"
        },
        "inputDataWindowType": {
          "type": "string"
        }
      }
    },
    "transformSchedule": {
      "type": "object",
      "required": [
        "transformId",
        "repeatUnit",
        "repeatInterval",
        "endingType"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "transformId": {
          "type": "integer",
          "format": "int64"
        },
        "repeatInterval": {
          "type": "integer",
          "format": "int32"
        },
        "repeatUnit": {
          "type": "string",
          "enum": [
            "Hourly",
            "Daily",
            "Weekly",
            "Monthly"
          ]
        },
        "endingType": {
          "type": "string",
          "enum": [
            "Never",
            "Date",
            "Count"
          ]
        },
        "startDateTime": {
          "type": "string",
          "format": "dateTime"
        },
        "endDateTime": {
          "type": "string",
          "format": "dateTime"
        },
        "endAfter": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "transformType": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "typeId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "array"
        }
      }
    },
    "searchAutocomplete": {
      "type": "object",
      "required": [
        "type",
        "value"
      ],
      "properties": {
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "dataSetId": {
          "type": "string"
        },
        "labelId": {
          "type": "string"
        }
      }
    },
    "user": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "email"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "username or email used to login"
        }
      },
      "example": {
        "id": 1,
        "firstName": "Dade",
        "lastName": "Murphy",
        "email": "zerocool@example.com"
      }
    },
    "visualizationType": {
      "type": "string",
      "enum": [
        "line",
        "bar",
        "pie",
        "chloropleth-countries",
        "heatmap",
        "list",
        "single-value"
      ]
    }
  },
  "parameters": {
    "dataSet": {
      "name": "dataSet",
      "in": "body",
      "description": "Dataset attributes",
      "required": true,
      "schema": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "minLength": 4,
            "pattern": "^[a-zA-Z0-9- ]+$",
            "example": "Movies"
          },
          "description": {
            "type": "string",
            "example": "List of Movies"
          },
          "importFlowIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              338
            ]
          },
          "createdTimestamp": {
            "type": "integer"
          },
          "updatedTimestamp": {
            "type": "integer"
          }
        }
      }
    },
    "dataSetAttributeUpdateList": {
      "name": "dataSetAttributeUpdateList",
      "in": "body",
      "description": "Attribute update list for masking attributes",
      "required": true,
      "schema": {
        "type": "object",
        "required": [
          "attrs"
        ],
        "properties": {
          "attrs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "indexed": {
                  "type": "boolean"
                },
                "maskers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "descriptionId": {
                        "type": "string"
                      },
                      "exceptedGroupIds": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "parameters": {
                        "type": "object",
                        "properties": {
                          "setting": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "dataSetId": {
      "name": "dataSetId",
      "in": "path",
      "description": "ID of the data set",
      "required": true,
      "type": "string"
    },
    "dataSetMetadata": {
      "name": "dataSetMetadata",
      "in": "body",
      "description": "Metadata of a dataset",
      "required": true,
      "schema": {
        "type": "object",
        "description": "This object contains all the metadata associated with a data set.\n",
        "required": [
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "minLength": 4,
            "pattern": "^[a-zA-Z0-9- ]+$"
          },
          "description": {
            "type": "string",
            "description": "A user-readable description of the data set."
          },
          "deleted": {
            "type": "boolean"
          },
          "groupPermissionsIds": {
            "type": "array"
          },
          "indexingPolicyId": {
            "type": "integer"
          },
          "indexingPolicy": {
            "type": "string"
          },
          "tags": {
            "type": "string"
          },
          "userId": {
            "type": "integer"
          },
          "useId": {
            "type": "integer",
            "description": "The user ID of the creator of this data set."
          },
          "createdTimestamp": {
            "type": "integer",
            "description": "Timestamp of when the data set was created."
          },
          "updatedTimestamp": {
            "type": "integer",
            "description": "Timestamp of the last time records were added."
          },
          "recordCountLastUpdate": {
            "type": "integer",
            "description": "Timestamp of the last time records were added."
          },
          "recordCount": {
            "type": "integer"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "disableFieldStats": {
            "type": "boolean"
          },
          "disableSampling": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "hadoopDeleteJobIds": {
            "type": "array"
          },
          "dataStoreAuthRemoved": {
            "type": "boolean"
          },
          "version": {
            "type": "integer"
          },
          "importFlowId": {
            "type": "string"
          },
          "importFlowIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "A list of IDs of import flows writing data to this data set."
          },
          "ageOffEnabled": {
            "type": "boolean"
          },
          "ageOffIndexDays": {
            "type": "integer"
          },
          "fieldStatsMinimumExecutionPeriod": {
            "type": "integer"
          },
          "samplingMinimumExecutionPeriod": {
            "type": "integer"
          },
          "aggregationMinimumExecutionPeriod": {
            "type": "integer"
          },
          "schemaMinimumExecutionPeriod": {
            "type": "integer"
          },
          "indexMinimumExecutionPeriod": {
            "type": "integer"
          }
        },
        "example": {
          "id": "movies_20171107_172745_048",
          "name": "Movies",
          "description": "List of Movies",
          "userId": 4,
          "createdTimestamp": 1510093665050,
          "updatedTimestamp": 1510093711178,
          "recordCountLastUpdated": 1510106324522,
          "recordCount": 4159,
          "importFlowIds": [
            338
          ]
        }
      }
    },
    "exportJobId": {
      "name": "exportJobId",
      "in": "path",
      "description": "ID of the export job",
      "required": true,
      "type": "string"
    },
    "exportScheduleId": {
      "name": "exportScheduleId",
      "in": "path",
      "description": "ID of an export schedule",
      "required": true,
      "type": "string"
    },
    "fileType": {
      "name": "fileType",
      "in": "path",
      "description": "fileType to download",
      "required": true,
      "type": "string",
      "enum": [
        "json",
        "csv"
      ]
    },
    "importFlowId": {
      "name": "importFlowId",
      "in": "query",
      "description": "ID of the import flow",
      "required": true,
      "type": "string"
    },
    "importFlowIdPath": {
      "name": "importFlowId",
      "in": "path",
      "description": "ID of the import flow",
      "required": true,
      "type": "string"
    },
    "importJobId": {
      "name": "importJobId",
      "in": "path",
      "description": "ID of the import job",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "importScheduleId": {
      "name": "importScheduleId",
      "in": "path",
      "description": "ID of the import schedule",
      "required": true,
      "type": "string"
    },
    "jobId": {
      "name": "jobId",
      "in": "path",
      "description": "ID of the job",
      "required": true,
      "type": "string"
    },
    "normalizationId": {
      "name": "normalizationId",
      "in": "path",
      "description": "ID of the normalization",
      "required": true,
      "type": "string"
    },
    "objectQuery": {
      "name": "query",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "required": [
          "query"
        ],
        "description": "This object contains the parameters used to issue a query against one or more data sets. The query is defined as a JSON string\n",
        "properties": {
          "collectionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of data set IDs. Specifying an empty list will cause the query to be issued to all data sets the user is allowed to query.\n"
          },
          "query": {
            "type": "string",
            "description": "A query represented as a JSON string\n\n### Examples\n\nSearch for a value in any field\n\n`{$any: fmv}`\n\nSearch for a value in a specific field\n\n`{field.name: fmv}`\n\nCombine criteria usin AND\n\n`{$and: [{$any: fmv}, {$any: blue}]}`\n\nCombine criteria using OR\n\n`{$or: [{$any: fmv}, {$any: blue}]}`\n\n### Range Queries\n\nA value in any field greater than or equal to 160\n\n`{$any: {$gte:160}}`\n\nDate field less than a specific date\n\n`{date_created: {$lt: “1980-01-01T00:00:00.000Z}}`\n\nGeo Range\n\n`{fieldName: {$box: [[sw-lat, sw-long],[ne-lat, ne-long]]}}`\n\nE.g. `{fieldName: {$box :[[39.5, -104.9],[40, -104.5]]}}`\n\nNote that queries that combine a range with any other criteria, and\nqueries that combine multiple ranges require Composite Indexes on\nthe fields involved. See\n[additional docs](http://koverse.readthedocs.io/en/2.3/dev/dataset.html#compositeindexes)\nfor information on building these.\n"
          },
          "auths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An optional comma separated list of authorization tokens. These are used for applying record-level filtering of data set results to records that have additional security labels applied.\n"
          },
          "fieldsToReturn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of field names to include in records. Other fields will be excluded. Omitting this parameter will cause all fields to be included in records.\n"
          },
          "limit": {
            "type": "integer",
            "description": "The number of results to fetch in this call"
          },
          "offset": {
            "type": "integer",
            "description": "The number of records in the result set to skip"
          }
        },
        "example": {
          "collectionIds": [
            "movies_20171107_172745_048"
          ],
          "query": {
            "title": "jurassic"
          },
          "fieldsToReturn": [
            "movie_title",
            "title_year",
            "gross"
          ],
          "limit": 100
        }
      }
    },
    "objectQueryNames": {
      "name": "query",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "required": [
          "query"
        ],
        "description": "This object contains the parameters used to issue a query against one or more data sets. The query is defined as a JSON string\n",
        "properties": {
          "collectionNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of data set names. Specifying an empty list will cause the query to be issued to all data sets the user is allowed to query.\n"
          },
          "query": {
            "type": "string",
            "description": "A query represented as a JSON string\n\n### Examples\n\nSearch for a value in any field\n\n`{$any: fmv}`\n\nSearch for a value in a specific field\n\n`{field.name: fmv}`\n\nCombine criteria usin AND\n\n`{$and: [{$any: fmv}, {$any: blue}]}`\n\nCombine criteria using OR\n\n`{$or: [{$any: fmv}, {$any: blue}]}`\n\n### Range Queries\n\nA value in any field greater than or equal to 160\n\n`{$any: {$gte:160}}`\n\nDate field less than a specific date\n\n`{date_created: {$lt: “1980-01-01T00:00:00.000Z}}`\n\nGeo Range\n\n`{fieldName: {$box: [[sw-lat, sw-long],[ne-lat, ne-long]]}}`\n\nE.g. `{fieldName: {$box :[[39.5, -104.9],[40, -104.5]]}}`\n\nNote that queries that combine a range with any other criteria, and\nqueries that combine multiple ranges require Composite Indexes on\nthe fields involved. See\n[additional docs](http://koverse.readthedocs.io/en/2.3/dev/dataset.html#compositeindexes)\nfor information on building these.\n"
          },
          "auths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An optional comma separated list of authorization tokens. These are used for applying record-level filtering of data set results to records that have additional security labels applied.\n"
          },
          "fieldsToReturn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of field names to include in records. Other fields will be excluded. Omitting this parameter will cause all fields to be included in records.\n"
          },
          "limit": {
            "type": "integer",
            "description": "The number of results to fetch in this call"
          },
          "offset": {
            "type": "integer",
            "description": "The number of records in the result set to skip"
          }
        },
        "example": {
          "collectionNames": [
            "movies"
          ],
          "query": {
            "title": "jurassic"
          },
          "fieldsToReturn": [
            "movie_title",
            "title_year",
            "gross"
          ],
          "limit": 100
        }
      }
    },
    "permissionId": {
      "name": "permissionId",
      "in": "path",
      "description": "ID of the permission",
      "required": true,
      "type": "string"
    },
    "recordId": {
      "name": "recordId",
      "in": "query",
      "description": "ID of the record",
      "required": true,
      "type": "string"
    },
    "recordStyle": {
      "name": "recordStyle",
      "in": "query",
      "description": "Requests a more efficient representation of records\n",
      "required": false,
      "type": "string",
      "enum": [
        2.2
      ]
    },
    "sink": {
      "name": "sink",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "configurationOptions": {
            "type": "object"
          },
          "disabled": {
            "type": "boolean"
          },
          "sinkTypeId": {
            "type": "string"
          },
          "scheduleType": {
            "type": "string"
          },
          "responsibleUser": {
            "type": "object",
            "required": [
              "firstName",
              "lastName",
              "email"
            ],
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "description": "username or email used to login"
              }
            },
            "example": {
              "id": 1,
              "firstName": "Dade",
              "lastName": "Murphy",
              "email": "zerocool@example.com"
            }
          },
          "transforms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "typeId": {
                  "type": "string"
                },
                "implementationClassName": {
                  "type": "string"
                },
                "config": {
                  "type": "object"
                }
              }
            }
          },
          "inputDataWindowType": {
            "type": "string"
          },
          "dataSetId": {
            "type": "string"
          }
        }
      }
    },
    "sinkId": {
      "name": "sinkId",
      "in": "path",
      "description": "ID of the sink",
      "type": "integer",
      "required": true
    },
    "sinkTypeId": {
      "name": "sinkTypeId",
      "in": "path",
      "description": "ID of the sink type",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "sourceId": {
      "name": "sourceId",
      "in": "path",
      "description": "ID of the source",
      "required": true,
      "type": "string"
    },
    "sourceInstanceId": {
      "name": "sourceInstanceId",
      "in": "path",
      "description": "ID of the source",
      "required": true,
      "type": "string"
    },
    "transformId": {
      "name": "transformId",
      "in": "path",
      "description": "ID of a transform",
      "type": "integer",
      "required": true,
      "format": "int64"
    },
    "transformJobId": {
      "name": "transformJobId",
      "in": "path",
      "required": true,
      "description": "ID of the transform job",
      "type": "integer",
      "format": "int64"
    },
    "transformScheduleId": {
      "name": "transformScheduleId",
      "in": "path",
      "required": true,
      "description": "ID of the transform schedule",
      "type": "integer",
      "format": "int64"
    }
  },
  "paths": {
    "/api/login": {
      "post": {
        "summary": "User login",
        "operationId": "loginUser",
        "tags": [
          "Authentication"
        ],
        "description": "Authenticate a user and create an authenticated web session. This must be called before calling other methods.\n",
        "parameters": [
          {
            "name": "loginParams",
            "in": "body",
            "description": "login object",
            "required": true,
            "schema": {
              "type": "object",
              "description": "This object contains the parameters necessary to authenticate.\n",
              "required": [
                "email",
                "password"
              ],
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              },
              "example": {
                "email": "zerocool@example.com",
                "password": "supersecret"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the user data",
            "schema": {
              "type": "object",
              "required": [
                "firstName",
                "lastName",
                "email"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "email": {
                  "type": "string",
                  "description": "username or email used to login"
                }
              },
              "example": {
                "id": 1,
                "firstName": "Dade",
                "lastName": "Murphy",
                "email": "zerocool@example.com"
              }
            }
          }
        }
      }
    },
    "/api/logout": {
      "get": {
        "summary": "User log out",
        "operationId": "logoutUser",
        "tags": [
          "Authentication"
        ],
        "description": "Closes the authenticated web session. Subsequent API calls will fail with code 401 Unauthorized until a new session is created via login.\n",
        "responses": {
          "200": {
            "description": "Returns a confirmation of the logout",
            "schema": {
              "type": "boolean",
              "example": true,
              "description": "This indicates whether the logout was successful.\n"
            }
          }
        }
      }
    },
    "/api/dataSets": {
      "get": {
        "summary": "List all data sets",
        "operationId": "findDataSets",
        "tags": [
          "Data Sets"
        ],
        "description": "Get a list of data set metadata objects for all data sets the user is authorized to see.\n",
        "responses": {
          "200": {
            "description": "Returns metadata for all data sets the user is authorized to see",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "description": "This object contains all the metadata associated with a data set.\n",
                "required": [
                  "name"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 4,
                    "pattern": "^[a-zA-Z0-9- ]+$"
                  },
                  "description": {
                    "type": "string",
                    "description": "A user-readable description of the data set."
                  },
                  "deleted": {
                    "type": "boolean"
                  },
                  "groupPermissionsIds": {
                    "type": "array"
                  },
                  "indexingPolicyId": {
                    "type": "integer"
                  },
                  "indexingPolicy": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "integer"
                  },
                  "useId": {
                    "type": "integer",
                    "description": "The user ID of the creator of this data set."
                  },
                  "createdTimestamp": {
                    "type": "integer",
                    "description": "Timestamp of when the data set was created."
                  },
                  "updatedTimestamp": {
                    "type": "integer",
                    "description": "Timestamp of the last time records were added."
                  },
                  "recordCountLastUpdate": {
                    "type": "integer",
                    "description": "Timestamp of the last time records were added."
                  },
                  "recordCount": {
                    "type": "integer"
                  },
                  "sizeBytes": {
                    "type": "integer"
                  },
                  "disableFieldStats": {
                    "type": "boolean"
                  },
                  "disableSampling": {
                    "type": "boolean"
                  },
                  "status": {
                    "type": "string"
                  },
                  "hadoopDeleteJobIds": {
                    "type": "array"
                  },
                  "dataStoreAuthRemoved": {
                    "type": "boolean"
                  },
                  "version": {
                    "type": "integer"
                  },
                  "importFlowId": {
                    "type": "string"
                  },
                  "importFlowIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "A list of IDs of import flows writing data to this data set."
                  },
                  "ageOffEnabled": {
                    "type": "boolean"
                  },
                  "ageOffIndexDays": {
                    "type": "integer"
                  },
                  "fieldStatsMinimumExecutionPeriod": {
                    "type": "integer"
                  },
                  "samplingMinimumExecutionPeriod": {
                    "type": "integer"
                  },
                  "aggregationMinimumExecutionPeriod": {
                    "type": "integer"
                  },
                  "schemaMinimumExecutionPeriod": {
                    "type": "integer"
                  },
                  "indexMinimumExecutionPeriod": {
                    "type": "integer"
                  }
                },
                "example": {
                  "id": "movies_20171107_172745_048",
                  "name": "Movies",
                  "description": "List of Movies",
                  "userId": 4,
                  "createdTimestamp": 1510093665050,
                  "updatedTimestamp": 1510093711178,
                  "recordCountLastUpdated": 1510106324522,
                  "recordCount": 4159,
                  "importFlowIds": [
                    338
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new data set",
        "operationId": "createDataSet",
        "tags": [
          "Data Sets"
        ],
        "description": "Creates a new empty data set.\nNote: This call will fail if there is already a data set with the same name as the requested new data set.\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Data Set object to create",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "minLength": 4,
                  "pattern": "^[a-zA-Z0-9- ]+$",
                  "example": "Movies"
                },
                "description": {
                  "type": "string",
                  "example": "List of Movies"
                },
                "importFlowIds": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "example": [
                    338
                  ]
                },
                "createdTimestamp": {
                  "type": "integer"
                },
                "updatedTimestamp": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the newly created Data Set metadata",
            "schema": {
              "type": "object",
              "description": "This object contains all the metadata associated with a data set.\n",
              "required": [
                "name"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "minLength": 4,
                  "pattern": "^[a-zA-Z0-9- ]+$"
                },
                "description": {
                  "type": "string",
                  "description": "A user-readable description of the data set."
                },
                "deleted": {
                  "type": "boolean"
                },
                "groupPermissionsIds": {
                  "type": "array"
                },
                "indexingPolicyId": {
                  "type": "integer"
                },
                "indexingPolicy": {
                  "type": "string"
                },
                "tags": {
                  "type": "string"
                },
                "userId": {
                  "type": "integer"
                },
                "useId": {
                  "type": "integer",
                  "description": "The user ID of the creator of this data set."
                },
                "createdTimestamp": {
                  "type": "integer",
                  "description": "Timestamp of when the data set was created."
                },
                "updatedTimestamp": {
                  "type": "integer",
                  "description": "Timestamp of the last time records were added."
                },
                "recordCountLastUpdate": {
                  "type": "integer",
                  "description": "Timestamp of the last time records were added."
                },
                "recordCount": {
                  "type": "integer"
                },
                "sizeBytes": {
                  "type": "integer"
                },
                "disableFieldStats": {
                  "type": "boolean"
                },
                "disableSampling": {
                  "type": "boolean"
                },
                "status": {
                  "type": "string"
                },
                "hadoopDeleteJobIds": {
                  "type": "array"
                },
                "dataStoreAuthRemoved": {
                  "type": "boolean"
                },
                "version": {
                  "type": "integer"
                },
                "importFlowId": {
                  "type": "string"
                },
                "importFlowIds": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "A list of IDs of import flows writing data to this data set."
                },
                "ageOffEnabled": {
                  "type": "boolean"
                },
                "ageOffIndexDays": {
                  "type": "integer"
                },
                "fieldStatsMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "samplingMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "aggregationMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "schemaMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "indexMinimumExecutionPeriod": {
                  "type": "integer"
                }
              },
              "example": {
                "id": "movies_20171107_172745_048",
                "name": "Movies",
                "description": "List of Movies",
                "userId": 4,
                "createdTimestamp": 1510093665050,
                "updatedTimestamp": 1510093711178,
                "recordCountLastUpdated": 1510106324522,
                "recordCount": 4159,
                "importFlowIds": [
                  338
                ]
              }
            }
          }
        }
      }
    },
    "/api/dataSets/{dataSetId}": {
      "parameters": [
        {
          "name": "dataSetId",
          "in": "path",
          "description": "ID of the data set",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get metadata",
        "description": "Get the name, description, record count, and other information about the given data set. Does not return any records within the data set.\n",
        "operationId": "findDataSetById",
        "tags": [
          "Data Sets"
        ],
        "responses": {
          "200": {
            "description": "Returns the data set metadata",
            "schema": {
              "type": "object",
              "description": "This object contains all the metadata associated with a data set.\n",
              "required": [
                "name"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "minLength": 4,
                  "pattern": "^[a-zA-Z0-9- ]+$"
                },
                "description": {
                  "type": "string",
                  "description": "A user-readable description of the data set."
                },
                "deleted": {
                  "type": "boolean"
                },
                "groupPermissionsIds": {
                  "type": "array"
                },
                "indexingPolicyId": {
                  "type": "integer"
                },
                "indexingPolicy": {
                  "type": "string"
                },
                "tags": {
                  "type": "string"
                },
                "userId": {
                  "type": "integer"
                },
                "useId": {
                  "type": "integer",
                  "description": "The user ID of the creator of this data set."
                },
                "createdTimestamp": {
                  "type": "integer",
                  "description": "Timestamp of when the data set was created."
                },
                "updatedTimestamp": {
                  "type": "integer",
                  "description": "Timestamp of the last time records were added."
                },
                "recordCountLastUpdate": {
                  "type": "integer",
                  "description": "Timestamp of the last time records were added."
                },
                "recordCount": {
                  "type": "integer"
                },
                "sizeBytes": {
                  "type": "integer"
                },
                "disableFieldStats": {
                  "type": "boolean"
                },
                "disableSampling": {
                  "type": "boolean"
                },
                "status": {
                  "type": "string"
                },
                "hadoopDeleteJobIds": {
                  "type": "array"
                },
                "dataStoreAuthRemoved": {
                  "type": "boolean"
                },
                "version": {
                  "type": "integer"
                },
                "importFlowId": {
                  "type": "string"
                },
                "importFlowIds": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "A list of IDs of import flows writing data to this data set."
                },
                "ageOffEnabled": {
                  "type": "boolean"
                },
                "ageOffIndexDays": {
                  "type": "integer"
                },
                "fieldStatsMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "samplingMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "aggregationMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "schemaMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "indexMinimumExecutionPeriod": {
                  "type": "integer"
                }
              },
              "example": {
                "id": "movies_20171107_172745_048",
                "name": "Movies",
                "description": "List of Movies",
                "userId": 4,
                "createdTimestamp": 1510093665050,
                "updatedTimestamp": 1510093711178,
                "recordCountLastUpdated": 1510106324522,
                "recordCount": 4159,
                "importFlowIds": [
                  338
                ]
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update data set metadata",
        "description": "Update the data set metadata.\n",
        "operationId": "updateDataSetById",
        "tags": [
          "Data Sets"
        ],
        "responses": {
          "200": {
            "description": "Returns the updated data set metadata.",
            "schema": {
              "type": "object",
              "description": "This object contains all the metadata associated with a data set.\n",
              "required": [
                "name"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "minLength": 4,
                  "pattern": "^[a-zA-Z0-9- ]+$"
                },
                "description": {
                  "type": "string",
                  "description": "A user-readable description of the data set."
                },
                "deleted": {
                  "type": "boolean"
                },
                "groupPermissionsIds": {
                  "type": "array"
                },
                "indexingPolicyId": {
                  "type": "integer"
                },
                "indexingPolicy": {
                  "type": "string"
                },
                "tags": {
                  "type": "string"
                },
                "userId": {
                  "type": "integer"
                },
                "useId": {
                  "type": "integer",
                  "description": "The user ID of the creator of this data set."
                },
                "createdTimestamp": {
                  "type": "integer",
                  "description": "Timestamp of when the data set was created."
                },
                "updatedTimestamp": {
                  "type": "integer",
                  "description": "Timestamp of the last time records were added."
                },
                "recordCountLastUpdate": {
                  "type": "integer",
                  "description": "Timestamp of the last time records were added."
                },
                "recordCount": {
                  "type": "integer"
                },
                "sizeBytes": {
                  "type": "integer"
                },
                "disableFieldStats": {
                  "type": "boolean"
                },
                "disableSampling": {
                  "type": "boolean"
                },
                "status": {
                  "type": "string"
                },
                "hadoopDeleteJobIds": {
                  "type": "array"
                },
                "dataStoreAuthRemoved": {
                  "type": "boolean"
                },
                "version": {
                  "type": "integer"
                },
                "importFlowId": {
                  "type": "string"
                },
                "importFlowIds": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "A list of IDs of import flows writing data to this data set."
                },
                "ageOffEnabled": {
                  "type": "boolean"
                },
                "ageOffIndexDays": {
                  "type": "integer"
                },
                "fieldStatsMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "samplingMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "aggregationMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "schemaMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "indexMinimumExecutionPeriod": {
                  "type": "integer"
                }
              },
              "example": {
                "id": "movies_20171107_172745_048",
                "name": "Movies",
                "description": "List of Movies",
                "userId": 4,
                "createdTimestamp": 1510093665050,
                "updatedTimestamp": 1510093711178,
                "recordCountLastUpdated": 1510106324522,
                "recordCount": 4159,
                "importFlowIds": [
                  338
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete data set by dataSetId",
        "description": "Delete the data set specified by dataSetId.\n",
        "operationId": "deleteDataSetById",
        "tags": [
          "Data Sets"
        ],
        "responses": {
          "200": {
            "description": "Returns the data set metadata with an updated DELETED dataset name.",
            "schema": {
              "type": "object",
              "description": "This object contains all the metadata associated with a data set.\n",
              "required": [
                "name"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "minLength": 4,
                  "pattern": "^[a-zA-Z0-9- ]+$"
                },
                "description": {
                  "type": "string",
                  "description": "A user-readable description of the data set."
                },
                "deleted": {
                  "type": "boolean"
                },
                "groupPermissionsIds": {
                  "type": "array"
                },
                "indexingPolicyId": {
                  "type": "integer"
                },
                "indexingPolicy": {
                  "type": "string"
                },
                "tags": {
                  "type": "string"
                },
                "userId": {
                  "type": "integer"
                },
                "useId": {
                  "type": "integer",
                  "description": "The user ID of the creator of this data set."
                },
                "createdTimestamp": {
                  "type": "integer",
                  "description": "Timestamp of when the data set was created."
                },
                "updatedTimestamp": {
                  "type": "integer",
                  "description": "Timestamp of the last time records were added."
                },
                "recordCountLastUpdate": {
                  "type": "integer",
                  "description": "Timestamp of the last time records were added."
                },
                "recordCount": {
                  "type": "integer"
                },
                "sizeBytes": {
                  "type": "integer"
                },
                "disableFieldStats": {
                  "type": "boolean"
                },
                "disableSampling": {
                  "type": "boolean"
                },
                "status": {
                  "type": "string"
                },
                "hadoopDeleteJobIds": {
                  "type": "array"
                },
                "dataStoreAuthRemoved": {
                  "type": "boolean"
                },
                "version": {
                  "type": "integer"
                },
                "importFlowId": {
                  "type": "string"
                },
                "importFlowIds": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "A list of IDs of import flows writing data to this data set."
                },
                "ageOffEnabled": {
                  "type": "boolean"
                },
                "ageOffIndexDays": {
                  "type": "integer"
                },
                "fieldStatsMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "samplingMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "aggregationMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "schemaMinimumExecutionPeriod": {
                  "type": "integer"
                },
                "indexMinimumExecutionPeriod": {
                  "type": "integer"
                }
              },
              "example": {
                "id": "movies_20171107_172745_048",
                "name": "Movies",
                "description": "List of Movies",
                "userId": 4,
                "createdTimestamp": 1510093665050,
                "updatedTimestamp": 1510093711178,
                "recordCountLastUpdated": 1510106324522,
                "recordCount": 4159,
                "importFlowIds": [
                  338
                ]
              }
            }
          }
        }
      }
    },
    "/api/dataSets/{dataSetId}/attributeNames": {
      "parameters": [
        {
          "name": "dataSetId",
          "in": "path",
          "description": "ID of the data set",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get attribute names",
        "operationId": "findDataSetAttributeNames",
        "tags": [
          "Data Sets"
        ],
        "description": "Get a list of the names of fields or attributes within a data set. These can be used to inform users of what fields are available so they can be used in queries.\n",
        "responses": {
          "200": {
            "description": "Returns all data set attribute names",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/api/dataSets/{dataSetId}/attributes": {
      "parameters": [
        {
          "name": "dataSetId",
          "in": "path",
          "description": "ID of the data set",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get attribute metadata",
        "operationId": "findDataSetAttributes",
        "tags": [
          "Data Sets"
        ],
        "description": "Get the metadata of all attributes of a data set.\n",
        "responses": {
          "200": {
            "description": "Returns an array of metadata of each attribute of a data set.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "actor_1_name"
                  },
                  "dataSetId": {
                    "type": "string",
                    "example": "movies_20171107_172745_048"
                  },
                  "name": {
                    "type": "string",
                    "example": "actor_1_name"
                  },
                  "presenceCount": {
                    "type": "integer",
                    "example": 4155
                  },
                  "uniqueValueCount": {
                    "type": "integer",
                    "example": 3982
                  },
                  "valueCount": {
                    "type": "integer",
                    "example": 4155
                  },
                  "visualizationType": {
                    "type": "string",
                    "enum": [
                      "line",
                      "bar",
                      "pie",
                      "chloropleth-countries",
                      "heatmap",
                      "list",
                      "single-value"
                    ]
                  },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "prevalence": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "occurrences": {
                          "type": "integer"
                        },
                        "value": {
                          "type": "string"
                        },
                        "coordinates": {
                          "type": "object",
                          "properties": {
                            "lat": {
                              "type": "number"
                            },
                            "long": {
                              "type": "number"
                            }
                          }
                        },
                        "countryId": {
                          "type": "string"
                        },
                        "opacity": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "indexed": {
                    "type": "boolean"
                  },
                  "masked": {
                    "type": "boolean"
                  },
                  "maskers": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/dataSets/{dataSetId}/clearDataSet": {
      "parameters": [
        {
          "name": "dataSetId",
          "in": "path",
          "description": "ID of the data set",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Clear a Data Set by id",
        "operationId": "clearDataSetById",
        "tags": [
          "Data Sets"
        ],
        "description": "Clears a data set of all data.",
        "responses": {
          "200": {
            "description": "200 OK"
          }
        }
      }
    },
    "/api/dataSets/{dataSetId}/flatSchema": {
      "parameters": [
        {
          "name": "dataSetId",
          "in": "path",
          "description": "ID of the data set",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get flat schema metadata.",
        "operationId": "findDataSetFlatSchemaById",
        "tags": [
          "Data Sets"
        ],
        "description": "Get flat schema metadata of a data set by data set id.\n",
        "responses": {
          "200": {
            "description": "Returns an array of the metadata of the flat schema of a data set.",
            "schema": {
              "type": "object",
              "properties": {
                "root": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/dataSets/{dataSetId}/indexingPolicy": {
      "parameters": [
        {
          "name": "dataSetId",
          "in": "path",
          "description": "ID of the data set",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get indexing policy metadata",
        "operationId": "findDataSetIndexingPolicyById",
        "tags": [
          "Data Sets",
          "Indexing"
        ],
        "description": "Get data set indexing policy metadata including indexed fields, composite indexes and foreign language indexing by data set id.\n",
        "responses": {
          "200": {
            "description": "Returns an array of the indexing policy metadata of a data set.",
            "schema": {
              "type": "object",
              "required": [
                "id",
                "dataSetId",
                "fieldsInclusive",
                "fields",
                "compositeIndexes",
                "createValueOnlyIndices"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64",
                  "example": 1
                },
                "dataSetId": {
                  "type": "string",
                  "example": "movies_20171107_172745_048"
                },
                "fieldsInclusive": {
                  "type": "boolean",
                  "description": "If true, specifies the fields to include. If false, specifies the fields to exclude",
                  "example": true
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The field names to either include or exclude",
                  "example": [
                    "actor_1_name"
                  ]
                },
                "compositeIndexes": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "fieldName",
                        "fieldType"
                      ],
                      "properties": {
                        "fieldName": {
                          "type": "string"
                        },
                        "fieldType": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "createValueOnlyIndices": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update indexing policy",
        "operationId": "updateDataSetIndexingPolicyById",
        "tags": [
          "Data Sets",
          "Indexing"
        ],
        "parameters": [
          {
            "name": "dataSetIndexingPolicy",
            "in": "body",
            "description": "The updated data set indexing policy",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "id",
                "dataSetId",
                "fieldsInclusive",
                "fields",
                "compositeIndexes",
                "createValueOnlyIndices"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64",
                  "example": 1
                },
                "dataSetId": {
                  "type": "string",
                  "example": "movies_20171107_172745_048"
                },
                "fieldsInclusive": {
                  "type": "boolean",
                  "description": "If true, specifies the fields to include. If false, specifies the fields to exclude",
                  "example": true
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The field names to either include or exclude",
                  "example": [
                    "actor_1_name"
                  ]
                },
                "compositeIndexes": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "fieldName",
                        "fieldType"
                      ],
                      "properties": {
                        "fieldName": {
                          "type": "string"
                        },
                        "fieldType": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "createValueOnlyIndices": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          }
        ],
        "description": "Updates the indexing policy for a data set by data set id.\n",
        "responses": {
          "200": {
            "description": "Returns an array of the indexing policy metadata of a data set.",
            "schema": {
              "type": "object",
              "required": [
                "id",
                "dataSetId",
                "fieldsInclusive",
                "fields",
                "compositeIndexes",
                "createValueOnlyIndices"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64",
                  "example": 1
                },
                "dataSetId": {
                  "type": "string",
                  "example": "movies_20171107_172745_048"
                },
                "fieldsInclusive": {
                  "type": "boolean",
                  "description": "If true, specifies the fields to include. If false, specifies the fields to exclude",
                  "example": true
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The field names to either include or exclude",
                  "example": [
                    "actor_1_name"
                  ]
                },
                "compositeIndexes": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "fieldName",
                        "fieldType"
                      ],
                      "properties": {
                        "fieldName": {
                          "type": "string"
                        },
                        "fieldType": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "createValueOnlyIndices": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          }
        }
      }
    },
    "/api/dataSets/{dataSetId}/permissions": {
      "parameters": [
        {
          "name": "dataSetId",
          "in": "path",
          "description": "ID of the data set",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get permissions metadata.",
        "operationId": "findDataSetPermissions",
        "tags": [
          "Data Sets",
          "Permissions"
        ],
        "description": "Get permissions metadata of a data set by data set id.\n",
        "responses": {
          "200": {
            "description": "Returns an array of metadata of the permissions of a data set.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "groupId",
                  "dataSetId"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
[...]
